<div class="addButton">Add new Team</div>

<div class="box" data-link="tasks" data-label="filter=team&value=sales" data-template="tasks">
  <p class="title">
    Sales Team
  </p>
  <p class="body">
    Pitch In with the Sales Team
  </p>
  <p class="sub">Last Edited: 25/05/16</p>
</div>
<div class="box" data-link="tasks" data-label="filter=team&value=marketing" data-template="tasks">
  <p class="title">
    Marketing Team
  </p>
  <p class="body">
    Pitch In with the Marketing Team
  </p>
  <p class="sub">Last Edited: 25/05/16</p>
</div>
<div class="box" data-link="tasks" data-label="filter=team&value=support" data-template="tasks">
  <p class="title">
    Support Team
  </p>
  <p class="body">
    Pitch In with the Support Team
  </p>
  <p class="sub">Last Edited: 25/05/16</p>
</div>
