<div class="homeButton" data-template="home">Home</div>
<div class="addButton" onclick="loadModal('task')">Add new Issue</div>

<div class="category">
	<div class="title">Open</div>
  {{#each open}}
    <div class="box" onclick="loadModal('task', 'getTask.php?id={{id}}');">
      <p class="title">Task: {{title}}</p>
      <p class="body">{{description}}</p>
      <p class="sub">customers: {{clients}}</p>
    </div>
  {{/each}}
</div>

<div class="category">
	<div class="title">Closed</div>
  {{#each closed}}
    <div class="box" onclick="loadModal('task', 'getTask.php?id={{id}}');">
      <p class="title">Task: {{title}}</p>
      <p class="body">{{description}}</p>
      <p class="sub">customers: {{clients}}</p>
    </div>
  {{/each}}
</div>